$dropshadow: 0px 0px 16px 0px rgba(89, 89, 89, 0.25);
$dropshadow-hover: 0px 0px 20px 0px rgba(89, 89, 89, 0.50);
$dropshadow-light: 0px 0px 16px rgba(168, 168, 168, 0.25);


body, html {
    font-family: "Raleway", "Roboto", sans-serif;
    background-color: #FAFAFA;
    font-size: 16px;
    margin: 0;
    color: #262626;
  }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em 12vw;
  background: #FFFFFF;
  box-shadow: $dropshadow;
  overflow: hidden;
  .logo {
    display: inherit;
    align-items: center;
    font-size: 1.5em;
    a, a:active, a:visited {
      text-decoration: none;
    }
  }
  .nav {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      li > a {
        display: flex;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        color: inherit;
        text-align: right;
        margin-left: 4vw;
      }
    }
  }
}

.content {
  margin: 0 8%;
  .secondary-nav {
    margin: 3em;
    margin-bottom: 1.5em;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      li > a {
        display: flex;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        color: #262626;
        text-align: right;
        margin: 0 3vw;
      }
    }
    #header {
      padding-bottom: 4px;
      border-bottom-style:solid;
      border-bottom-width: 2px;
      border-color: #787878;
    }
  }
  .img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 12vw;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        width: auto;
        max-height: 100%;
        object-fit: cover;
        overflow: hidden;
        padding: 0 0.25vw;
        padding-bottom: .5vw;
      }
    }
  }
  .spacer {
    padding: 2.75em;
  }
  .other-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: $dropshadow;
    margin: 0 12vw;
    margin-bottom: 3em;
    padding: 0 8px;
    .top-header {
      display: inherit;
      flex-direction: row;
      justify-content: space-between;
      padding: 2em 2vw;
      padding-bottom: 1.5em;
      .title {
        font-weight: bold;
      }      
    }
    .body {
      display: inherit;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2vw;
      padding-bottom: 1.75vh;
      .item {
        display: flex;
        flex-direction: column;
        width: 16.5vw;
        img {
          display: block;
          object-fit: cover;
          max-height: 100%;
          box-shadow: $dropshadow-light;
          margin-bottom: 1vh;
        }
        .description {
          display: inherit;
          flex-direction: column;
          .name {
            font-weight: bold;
            margin-bottom: 0.5vh;
          }
          .description1 {
            font-style: italic;
            margin-bottom: 0.5vh;
          }
          .description2 {
            margin-bottom: 1vh;
          }
          .links {
            display: inherit;
            flex-direction: column;
            a {
              text-align: right;
            }
          }
        }
      }
    }
  }
  .portfolio-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 12vw;
    margin-bottom: 0em;
    .card {
      display: inherit;
      flex-direction: column;
      width: 19vw;
      box-shadow: $dropshadow;
      a {
        display: inherit;
        flex-direction: column;
        text-decoration: none;
        height: 100%;
        img {
          display: block;
          object-fit: cover;
          max-height: 100%;
        }
        .description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 1em;
          .text {
            padding-bottom: 1em;
          }
          .tags {
            display: inherit;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            ul {
              display: inherit;
              flex-direction: column;
              justify-content: center;
              list-style-type: none;
              margin: 0;
              padding: 0; 
              li {
                color: #838383;
              }
            }
            #left {
              text-align: left;
            }
            #right {
              text-align: right;
            }
          }
        }
      }

      }
    .card:hover {
      box-shadow: $dropshadow-hover;
    }
  }
}

.active {
  padding-bottom: 4px;
  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-color: #787878;
}

// 1080 screens
@media only screen and (max-width: 2100px) {
  body, html {
    color: #3700ff;
  }
  .content {
    .secondary-nav {
      margin: 2.5em;
      margin-bottom: 1.5em;
    }
    .other-section {
      .top-header {
        padding: 1.5em 2vw;
        padding-bottom: 1em;   
      }
    }
  }
}

// mobile screens
@media only screen and (max-width: 768px) {
  body, html {
    font-family: "Raleway", "Roboto", sans-serif;
    background-color: #FAFAFA;
    font-size: 16px;
    margin: 0;
    color: #ff0000;
  }
}
